@use './typography';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	width: 95vw;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

img {
	margin-top: 50px;
	width: 100%;
	margin-bottom: 50px;
}

h2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
